{% extends 'base.html' %}
{% block content %}
{% for hotel in object_list %}
<div class="panel">
    <h3><a href="{{ hotel.get_absolute_url }}">{{ hotel.title }}</a></h3>
    <p>Added by {{ hotel.user.username }} on {{ hotel.created_at }}</p>
<p>{{ hotel.vote_set.all.count }} Vote{{ hotel.vote_set.all.count|pluralize }}</p>
<form method="post" action="{% url 'vote' %}">
    {% csrf_token %}
    <input type="hidden" name="hotel" value="{{ hotel.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
    <button>+</button>
</form>
</div>
{% endfor %}
{% endblock %}