{% extends 'base.html' %}
{% block content %}
{% for hotel in object_list %}
<div class="panel">
    <h3><a href="{{ hotel.get_absolute_url }}">{{ hotel.title }}</a></h3>
    <p>Asked {% if hotel.visibility == 0 %} by <a href="{% url 'user_detail' slug=hotel.user.username %}">{{ hotel.user.username }}</a> {% endif %} on {{ hotel.created_at }}</p>
<form method="post" action="{% url 'vote' %}">
    <span class="badge">{{ hotel.review_set.all.count }} Review{{  hotel.review_set.all.count|pluralize }}</span>
    <span class="badge">{{ hotel.vote_set.all.count }} Vote{{ hotel.vote_set.all.count|pluralize }}</span> 
    {% csrf_token %}
    <input type="hidden" name="hotel" value="{{ hotel.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
        {% if hotel in user_votes %}  
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
        {% else %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
        {% endif %}
    </form>
</div>
{% empty %}
<p>No results found.</p>
{% endfor %}
{% if is_paginated %}
<nav>
    <ul class="pager">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}