{% extends 'base.html' %}
{% block content %}
<h1>{{ hotel.title }}</h1>
<p>{{ hotel.description }}</p>
<p>Added by {{ hotel.user.username }} on {{ hotel.created_at }}</p>
{% if hotel.user == user %}
<p><a href="{% url 'hotel_update' pk=hotel.id %}">Edit hotel</a></p>
<p><a href="{% url 'hotel_delete' pk=hotel.id %}">Delete hotel</a></p>
{% endif %}
{% if reviews.count > 0 %}
<h3>{{ reviews.count }} Review{{ reviews.count|pluralize }}:</h3>
{% endif %}
{% for review in reviews %}
<div class="panel">
    <p>{{ review.text }}</p>
{% if review.user == user %}
<p><a href="{% url 'review_update' hotel_pk=hotel.id review_pk=review.id %}">Edit review</a></p>
<p><a href="{% url 'review_delete' hotel_pk=hotel.id review_pk=review.id %}">Delete review</a></p>
{% endif %}
    <p>Reviewed by {{ review.user.username }} on {{ review.created_at }}</p>
</div>
{% endfor %}
<p><a href="{% url 'review_create' pk=hotel.id %}">Write review</a></p>
{% endblock %}